<div>
    <input type="hidden" id="blog_id" value="{{blog.id}}">
    <h2 class="individual-blog-title">{{blog.title}}</h2>
    <p >{{blog.content}}</p>
    <h3>By: {{blog.user.username}}, {{blog.createdAt}}</h3>
    
</div>

{{#if loggedIn}}
<form id="commentForm">
    <label for="comment">Write your comment here:</label>
    <textarea id="comment"></textarea>
    <button>submit</button>
</form>
{{/if}}


{{!-- create a section that will display each of the comments  --}}
<div>
    <h3>Comment section:</h3>
    {{#if blog.comments }}
    <div>
        {{#each blog.comments as |comment|}}
            <div>
                <h4>{{comment.content}}</h4>
                <p>{{comment.user.username}}</p>
            </div>
        {{/each}}
    </div>
    {{else}}
    <p>No comments for this post yet.</p>
    {{/if}}
</div>

<script src="/js/comment.js"></script>